.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

#detector {
    display: block;
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 65vmin;
}

#ambient {
    position: fixed;
    right: 10vw;
    top: 20vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
}

#bellegarde {
    position:fixed;
    left: 62vw;
    top: 65vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
    background-color: #333333;
}

#jura {
    position:fixed;
    left: 30vw;
    top: 65vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
    background-color: #333333;
}

#lausanne {
    position:fixed;
    left: 27vw;
    top: 30vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
    background-color: #333333;
}

#saleve {
    position:fixed;
    left: 63vw;
    top: 35vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
    background-color: #333333;
}

#topSide {
    position:fixed;
    left: 48vw;
    top: 43vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
    background-color: #333333;
}