<style type="text/css">
    #chart-container {
        width: 100vw;
        height: 100%;
    }
</style>

<div id="timespan" style="position: absolute; left: 10%; top: 1%;">
    <span id="historyLabel" style="font-family: 'Arial Black', Gadget, sans-serif; font-size: 18px; color: white">History for:</span>
    <br/>
    <button id="1day" type="button" ng-click="$ctrl.dayChanger(1)">1 day</button>
    <button id="3days" type="button" ng-click="$ctrl.dayChanger(3)">3 days</button>
    <button id="7days" type="button" ng-click="$ctrl.dayChanger(7)">7 days</button>
    <button id="10days" type="button" ng-click="$ctrl.dayChanger(10)">10 days</button>
    <button id="reset-zoom" type="button" ng-click="$ctrl.chart.resetZoom()">Reset zoom</button>

</div>
<div id="chart-container">
    <canvas id="hist"></canvas>
</div>
<button class="btn" title="Click to show/hide data" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {document.getElementById('spoiler') .style.display=''}else{document.getElementById('spoiler') .style.display='none'}">Show/hide data</button>
<span id="spoiler" style="display: none;"><table style="font-family: 'Arial Black', Gadget, sans-serif">
    <th>Timestamp</th>
    <th>Exact value</th>
    <tr ng-repeat="i in $ctrl.respdata">
        <td>{{i.TimeStamp}}</td>
        <td align="right" style="color: lime; font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;">{{i.ExactValue | number: 2}}</td>
    </tr>
</table></span>

